<div class="page-wrapper-everything">
  <div class="content-wrapper">
    <div class="header">
      <img src="https://coindcx.com/assets/new-home-pagee/Logo_CoinDCX.svg" />
      <button (click)="login()" class="login-btn">Login</button>
    </div>
    {{ loginAddress }}
    <div class="footer">
      <div class="form-parent-wrapper">
        <div class="form-child-wrapper">
          <form
            [formGroup]="loginForm"
            class="form-wrapper"
            (ngSubmit)="onSubmit()"
          >
            <div class="label-input-wrapper">
              <label>Enter Your Name</label>
              <input formControlName="name" type="text" />
            </div>

            <button type="submit" [disabled]="!loginForm.valid">Join</button>
          </form>
        </div>
        <div class="message">{{ gamStatus }}</div>
      </div>
      <div class="footer-content">
        <h1 class="game-name">TIC-TAC-TOE</h1>
        <h2 class="dcx-name">presented by coinDCX!!!..</h2>
      </div>
      <div class="dashboard">
        <h3>
          <u>Leaderboard</u>
        </h3>
        <table class="table-wrapper">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let board of leadershipBoardData">
              <td>{{ board[0] }}</td>
              <td>{{ board[1] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
