<div class="page-wrapper-everything">
  <div class="content-wrapper">
    <div class="header">
      <img src="https://coindcx.com/assets/new-home-pagee/Logo_CoinDCX.svg" />
    </div>
    <div class="footer">
      <div class="form-parent-wrapper">
        <div class="form-child-wrapper">
          <form
            [formGroup]="loginForm"
            class="form-wrapper"
            (ngSubmit)="onSubmit()"
          >
            <div class="label-input-wrapper">
              <label>Enter Your Name</label>
              <input formControlName="name" type="text" />
            </div>

            <button type="submit" [disabled]="!loginForm.valid">Join</button>
          </form>
        </div>
        <div class="message">{{ gamStatus }}</div>
      </div>
    </div>
  </div>
</div>
