.section-wrapper {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.everything-wrapper {
  height: 100vh;
  display: flex;
}

.square-container {
  flex: 0 0 32%;
  font-weight: 700;
  height: 265px;
}

.game-square {
  height: 96%;
  text-align: center;
  line-height: 0.85;
  cursor: pointer;
  border-radius: 8px;
  border-width: 1px;
  background-color: rgb(147 197 253);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

p {
  display: inline;
  margin: 0px;
  font-size: 14rem;
  overflow: hidden;
}

.noClick {
  pointer-events: none;
}
