<div class="container">
  <div class="card">
    <h1 class="card-title">Game Room</h1>
    <div class="board-timer" *ngIf="isGameRunning">
      <div>
        <h1
          class="text-center"
          *ngIf="isGameRunning"
        >
          {{ activePlayer }}'s Turn
        </h1>
        <div class="section-wrapper">
          <div class="square-container underline" *ngFor="let square of board">
            <div
              class="game-square rounded-lg border bg-teal-lightest shadow-md"
              (click)="squareClicked(square)"
              [ngClass]="{ noClick: winner }"
            >
              <p class="">{{ square.state }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="timmer-wrapper">
        <h2>Timer</h2>
        <div class="display-time">
          {{ display }}
        </div>
      </div>
    </div>
    <p class="card-description" *ngIf="!isGameRunning">{{ gameState }}</p>
  </div>
</div>